<html>
<head>
</head>
  <title>So-I Kwak</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css')}}">
<body>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="{{ url_for('static', filename='profile-pic.jpg')}}" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">Soi Kwak</p>
           <p class="regular">Data Engineer</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               State College, PA <br /> USA
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
               814-777-7715
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
               soikwak22@gmail.com
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               www.soikwak.me
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               R
             </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">90%</div>
           </li>
           <li>
             <div class="skill_name">
               Python
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per">80%</div>
           </li>
           <li>
             <div class="skill_name">
               SQL
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>
           <li>
             <div class="skill_name">
               PySpark
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">60%</div>
           </li>
           <li>
             <div class="skill_name">
               Tableau
             </div>
             <div class="skill_progress">
               <span style="width: 65%;"></span>
             </div>
             <div class="skill_per">65%</div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-github"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Github</p>
               <p>github.com/soikwak22</p>
             </div>
           </li>
           <li>

           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>linkedin.com/in/soikwak</p>
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">HOBBY</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-book"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Reading</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-music"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Music</p>
             </div>
           </li>
           <li>

           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About me</p>
         </div>
        <p>Hello! My name is So-I Kwak  graduating Penn State with a degree of Applied Data Science. I am a talented, ambitious and hardworking individual, with broad skills and experience in preprocessing and analyzing data. Seeking data analyst/engineer role to pursue my passion for working with data to derive insightful analysis that can directly contribute to a company.
</p>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date">2018 - 2022</div>
                <div class="info">
                     <p class="semi-bold">The Pennsylvania State University-UP</p>
                  <p>Bachelor of Science in Applied Data Science</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li>
                <div class="date">MAY 2022 - AUG 2022</div>
                <div class="info">
                     <p class="semi-bold">Data Analyst Intern at Boeun Corp.</p>
                  <p>● Migrated data from Excel to R to visualize unit prices of ingredients <br>● Analyzed prices of onions over 5 years</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Project experiences</p>
         </div>
      <ul>
            <li>
                <div class="date">AUG 2021 - DEC 2021</div>
                <div class="info">
                     <p class="semi-bold">Analysis on GDP and Happiness Scores</p>
                  <p>● Processed datasets using techniques such as edit distance, jaccard similarity, needleman-wunsch <br> ● Visualized and analyzed relationship between suicide rates with GDP and happiness scores using
python</p>
                </div>
            </li>
            <li>
              <div class="date">JAN 2022 - MAY 2022</div>
              <div class="info">
                     <p class="semi-bold">Netflix Movie Recommender</p>
                  <p>● Developed a Netflix Movie Recommendation System model using scikit-learn <br>● Evaluated models trained with different machine learning techniques such as content-based filtering,
hybrid filtering, and collborative filtering, and distance measure <br>● Use SVD in collaborative filtering and use TF-IDF and Jaccard Similarity in Content-based filtering</p>
                </div>
            </li>
        <li>
                <div class="date">JAN 2022 - MAY 2022</div>
                <div class="info">
                     <p class="semi-bold">German House Price Predictor</p>
                  <p>● Preprocessed dataset with feature engineering using concepts confidence interval and bootstrap <br>● Developed and evaluated models to predict house price in Germany using techniques such as principal
component analysis, multiple linear regression, best subset selection, and random forest<br>● Calculated RMSE and MAE to compare models</p>
                </div>
            </li>
        <li>
                <div class="date">AUG 2021 - DEC 2021</div>
                <div class="info">
                     <p class="semi-bold">Identification on Individual giraffe</p>
                  <p>● Collected and preprocessed giraffe images using Discrete Wavelet Transform (DWT)<br>● Developed and evaluated models to predict individual giraffes using random forest and logistic regression algorithms</p>
                </div>
            </li>
        <li>
                <div class="date">JAN 2020 - MAY 2020</div>
                <div class="info">
                     <p class="semi-bold">Covid-19 and Brent Crude Oil</p>
                  <p>● Examined how advent of Covid-19 had a impact on future prices for Brent Crude Oil<br>● Developed a model for population and growth with logistic growth and analyzed how two different datasets match each other in the same timeline</p>
                </div>
            </li>
        </ul>
  </div>
</div>
</body>
</html>
